/* FormQuestions.css */
.questions-component {
  background-color: white;
}

/* Navbar */
.questions-component .navbar {
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #e9ecef;
  margin-bottom: 20px;
}

/* Button Bar */
.questions-component .button_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.questions-component .left_button_bar {
  display: block;
  align-items: center;
  float: left;
  margin-top: 0;
  margin-right: 30rem;
}

.questions-component .right_button_bar {
  display: block;
  float: right;
  margin-top: 0;
}

.questions-component .add-row {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  margin: 5px;
}

.questions-component .button {
  margin-right: 10px;
}

.questions-component .eui-btn--blue {
  background-color: #2276ac;
  margin-right: 10px;
  padding: 0.5em 1em;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(50, 50, 50, 0.2);
  color: white;
  transition: background 0.15s ease-in-out;
  outline: none;
  min-height: 45px;
  font-weight: 400;
}

.questions-component .eui-btn--blue:hover {
  background-color: #2c3e50;
}

.questions-component .eui-btn--green {
  background-color: #158749;
  border: none;
  margin-right: 10px;
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(50, 50, 50, 0.2);
  color: white;
  transition: background 0.15s ease-in-out;
  outline: none;
  min-height: 45px;
  font-weight: 400;
}

.questions-component .eui-btn--green {
  background-color: #12713d !important;
}

.questions-component .text-muted {
  display: block;
  color: #6c757d !important;
  margin-bottom: unset;
  word-wrap: break-word !important;
  margin-top: 0;
  font-size: 16px;
}

.questions-component .eui-btn--red {
  background-color: #db1400;
  border: none;
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(50, 50, 50, 0.2);
  color: white;
  transition: background 0.15s ease-in-out;
  outline: none;
  min-height: 45px;
  font-weight: 400;
}

.eui-btn--red:hover {
  background-color: #c21200 !important;
}

/* Form Section */
.questions-component .form-section {
  /* margin-bottom: 20px; */
  /* padding: 20px; */
  border-radius: 5px;
}

/* Heading */
.questions-component .heading {
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* Form Group */
.questions-component .form-group-error {
  margin-bottom: 20px;
}

/* Inputs */
.questions-component .form-input-error,
.questions-component .form-textarea-error,
.questions-component .form-select-error,
.questions-component .form-file-error,
.questions-component .form-checkbox-error,
.questions-component .form-radio-group-error {
  border-color: #db1400 !important;
}

.questions-component .form-input-error:focus,
.questions-component .form-textarea-error:focus,
.questions-component .form-select-error:focus,
.questions-component .form-file-error:focus,
.questions-component .form-checkbox-error:focus,
.questions-component .form-radio-group-error:focus {
  border-color: #007bff;
}

.questions-component .bbox {
  margin-bottom: 10px;
}

/* Alerts */
.questions-component .eui-banner--danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  margin-bottom: 10px;
}

/* Required */
.questions-component .required {
  color: red;
  margin-left: 5px;
}

/* Table */
.questions-component .table-div {
  margin-top: 20px;
}

.questions-component .table_required {
  color: red;
  margin-bottom: 10px;
}

.questions-component .hidden {
  display: none;
}

.questions-component .date_formats {
  color: gray;
  font-size: 0.9em;
}

.questions-component .date_formats_required {
  font-weight: bold;
}

.questions-component .eui-link {
  color: #007bff;
  text-decoration: none;
}

.questions-component h3 {
  font-size: 1.4em;
  margin: 0.5em 0;
  font-weight: 500;
  line-height: 1.2;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: left;
  color: #2c3e50;
}

.questions-component .eui-link:hover {
  text-decoration: underline;
}

/* Center container in the screen */
.questions-component .container {
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .questions-component .container {
    max-width: 75%;
  }
}

/* Styles for screens with a width between 768px and 1024px */
@media (min-width: 1200px) {
  .questions-component .container {
    max-width: 1140px;
  }
}

@media (min-width: 400px) and (max-width: 1150px) {
  .left_button_bar {
    margin-right: 0 !important;
  }
}

.questions-component .form-control {
  width: 98.5%;
  display: block;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  font-size: 1.25rem;
  line-height: 1.5;
}

.questions-component .form-control-questions {
  margin-bottom: 10px;
  width: 100%;
  display: block;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  font-size: 1.25rem;
  line-height: 1.5;
}

.questions-component .form-control-questions:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Section Heading Styles */
.questions-component .section-heading {
  font-size: 1.75em;
  margin-bottom: 15px;
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 0.2em;
  font-weight: normal;
}

/* Field Label Styles */
.questions-component .field-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Field Help Text */
.questions-component .field-help-text {
  display: block;
  margin-bottom: 10px;
  font-size: 0.875em;
  color: #6c757d;
}

.questions-component .checkbox-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.questions-component .checkbox-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.checkbox-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-item  {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 1px solid #6c757d;
  
}

.checkbox-item :hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-item  input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-item  input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-item  .checkmark:after {
  left: 6px;
  top: 4px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radio-item {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 3px;
}

.radio-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-item-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #6c757d;
  border-radius: 50%;
}

.radio-item:hover input ~ .radio-item-checkmark {
  background-color: white;
}

.radio-item input:checked ~ .radio-item-checkmark {
  background-color: #2196F3;
}

.radio-item-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-item input:checked ~ .radio-item-checkmark:after {
  display: block;
}

.radio-item .radio-item-checkmark:after {
 	top: 7px;
	left: 7px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}

.questions-component .form-checkbox-error {
  border: 1px solid red;
}

.questions-component .checkbox-item label {
  margin-left: 5px;
}

.questions-component .form-section-error {
  border: 1px solid red;
  padding: 10px;
}

.questions-component ::placeholder {
  color: #DB1400;
  opacity: 1; 
}

.questions-component input::placeholder,
.questions-component textarea::placeholder {
  color: #DB1400;
  opacity: 1; 
}

.questions-component input::-moz-placeholder,
.questions-component textarea::-moz-placeholder {
  color: #DB1400;
  opacity: 1; 
}

.questions-component input:-ms-input-placeholder,
.questions-component textarea:-ms-input-placeholder {
  color: #DB1400;
}

.questions-component input::-ms-input-placeholder,
.questions-component textarea::-ms-input-placeholder {
  color: #DB1400;
}

.questions-component .question_size {
  display: flex;
  flex-direction: column;
}

.questions-component .table-div {
  margin-top: 20px;
}

.questions-component .checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.questions-component .bbox-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.questions-component .bbox-input {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.questions-component .bbox-input label {
  margin-right: 5px;
}

.questions-component .bbox {
  width: 100px;
}

.questions-component .heading {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.questions-component .question_size {
  display: flex;
  flex-direction: column;
}

.questions-component .table-div {
  margin-top: 20px;
}

.questions-component .table_required {
  color: red;
}

.questions-component .row-align {
  padding: 0px;
}

.tableDynamic {
  margin-bottom: 10px !important;
  width: initial !important;
  display: initial !important;
  font-weight: initial !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  font-size: 1rem !important;
  line-height: 1 !important;

}

.questions-component input {
  border-radius: 5px !important;
  border-style: solid !important;
  border-width: 1px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-top: 8px !important;
  padding-bottom: 5px !important;
  border-color: #b2b2b2 !important;
}

.questions-component textarea {
  border-radius: 5px !important;
  border-style: solid !important;
  border-width: 1px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-top: 8px !important;
  padding-bottom: 5px !important;
  border-color: #b2b2b2 !important;
  margin-bottom: 0px !important;
  resize: vertical;
}
.questions-component .radio-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.radio-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.radio-item input {
  margin-right: 5px;
}

.questions-component .react-datepicker-wrapper{
  width: 100%;
}

.questions-component .sticky-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ebebeb;
  padding: 10px 0;
  border: 1px solid #a9a9a9;
}

.questions-component .sticky-navbar .button_bar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.questions-component .button-group {
  display: flex;
}

.questions-component th{
  text-align: left;
}
.questions-component .button-group .btn {
  margin: 2px 0;
}

.questions-component .button-group .btn-secondary{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  margin: 5px;
}


.questions-component .scroll-to-top {
  position: fixed;
  bottom: 70px;
  right: 50px;
  z-index: 1000;
}

.questions-component .scroll-to-top button {
  background-color: #333;
  color: white;
  border: none;
  outline: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
}

.questions-component .scroll-to-top button:hover {
  background-color: #555;
}

.questions-component .react-datepicker__calendar-icon {
  right: 0.2rem;
  margin-top: 5px !important;
}

.questions-component .uploaded-files-table {
  width: 100%;
  border-collapse: collapse;
}

.questions-component .uploaded-files-header {
  background-color: #f2f2f2;
  font-weight: bold;
}

.questions-component .uploaded-files-row:nth-child(even) {
  background-color: #f9f9f9;
}

.questions-component .uploaded-files-row:hover {
  background-color: #f1f1f1;
}

.questions-component .uploaded-files-table th,
.questions-component .uploaded-files-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.questions-component .uploaded-files-table th {
  background-color: #2276ac;
  color: white;
}


.questions-component .validation{
  border: 0px solid #e4b9b9;
  text-align: left;
  border-top: 3px solid #e4b9b9;
  background-color: #f2dede;
  color: #963b3b;
  padding: 0.75em 1em;
  width: 99%;
  border-radius: 6px;
}

.questions-component .eui-label {
  margin-top: 10px;
}

.questions-component .form-group-error .form-control:focus .radio-group-error{
  box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.questions-component .form-group-error .required {
  color: #e3342f;
  font-size: 1.25rem;
}

.questions-component .alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  text-align: center;
}

.questions-component .alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.questions-component .alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  text-align: center;
}

.questions-component .validation-message {
  color: #e3342f;
  font-size: 0.875em;
  margin-top: 0.25rem;
}

.questions-component .sub-section-heading {
  font-size: 1.5em;
  padding-top: 10px;
  margin: 0.5em 0;
}

.questions-component .form-section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.questions-component .form-section:last-child {
  border-bottom: none;
}

.questions-component .form-group-error {
  margin-bottom: 20px;
}

.questions-component .question_section {
  margin-top: 20px;
  cursor: pointer;
}

.questions-component .date_formats {
  font-size: 0.9em;
  color: #666;
}

.questions-component .section_required {
  color: #d9534f;
  font-size: 1.25rem;
}

.questions-component .section_required_radio_file {
  display: inline !important;
  margin-left: 5px;
}

.questions-component .checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.questions-component .checkbox-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.questions-component h2 {
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 0.2em;
  font-size: 1.6em;
  font-weight: normal;
  font-family: Avenir,Helvetica,Arial,sans-serif;
  text-align: left;
  color: #2c3e50;
}


.questions-component .sticky-alert {
  position: sticky;
  top: 60px;
  z-index: 1000;
}

.radio-group-error {
  border: 1px solid;
  border-color: #db1400 !important;
  padding: 10px;
  border-radius: 5px;
  /*width: 100%;*/
}

.questions-component .button:disabled {
  background-color: #c0c0c0;
  border-color: #c0c0c0;
  cursor: not-allowed;
  color: #fff;
}

.questions-component .upload-container {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.questions-component .upload-container.drag-over {
  border-color: #000;
}

.questions-component .upload-input {
  display: none;
}

.questions-component .upload-status {
  margin-top: 10px;
}

.questions-component .upload-button {
  background-color: #2276ac;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.questions-component .upload-button:hover {
  background-color: #0056b3;
}

.questions-component .upload-button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.questions-component .modal-content {
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.questions-component .custom-modal-header{
  border-bottom: 1px solid hsl(0, 93%, 47%);
  padding-bottom: 10px;
}

.questions-component .modal-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.questions-component .modal-body {
  padding: 20px;
  font-size: 1rem;
}

.questions-component .modal-footer {
  border-top: 1px solid #dee2e6;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.questions-component .modal-footer .btn {
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
}

.questions-component .daac_name {
  color: #007bff;
}

.custom-table-header {
  background-color: #2276ac;
  color: white;
  text-align: center;
}

.custom-table-header th {
  border: 1px solid #dee2e6;
  padding: 5px;
  vertical-align: middle;
}

.tableDynamic {
  width: 95% !important;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  vertical-align: middle;
}

.button-group .btn {
  margin: 2px;
}

.action-button {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.questions-component .table tbody tr {
  background-color: #f8f9fa;
}

.questions-component .table tbody tr:nth-of-type(odd) {
  background-color: #e9ecef;
}

.questions-component .table tbody tr:hover {
  background-color: #dee2e6;
}

.questions-component .table-validation {
  width: 97.5%;
}

.questions-component .bbox-validation {
  margin-bottom: 3px;
  width: 97.5%;
}

.table tbody td {
  text-align: center;
  vertical-align: middle;
}

.padding-zero {
  padding: 0;
}

.questions-component .react-datepicker__current-month{
  padding-left: 40px;
}

.custom-modal .modal-header {
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  background-color: #ebebeb;
}

.custom-modal .modal-title {
  color: #323232; 
  font-weight: bold;
  font-weight: 500;
}

.custom-modal .modal-body {
  font-size: 16px; 
  color: #333;
}

.custom-modal .modal-footer {
 
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  border-top: 1px solid #dee2e6;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(222, 226, 230);
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}

.custom-modal .btn-primary {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  font-size: .875rem;
  border-radius: 5px;
  padding: 10px 20px;
}

.custom-modal .btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  font-size: .875rem;
  border-radius: 5px;
  padding: 10px 20px;
}

.custom-modal .btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}