/**********************************************************************
  This stylesheet is the core and general styles for the application.
**********************************************************************/

/******** If Browser IE < 10 - Don't delete. *****/

.lt-ie10 {
  #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

.filterGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  width: 100%;
  input {
    width: 200px;
  }
}
/**************************************************/

/**************************************************
  General
**************************************************/

html {
  font-size: $root-font-size;
  height: 100%;
}
textarea#comment.required {
  border:1px solid $error-text-red!important;
  outline:$error-text-red!important;
}
textarea#comment.required::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $error-text-red;
  opacity: 1; /* Firefox */
}
textarea#comment.required::-ms-input-placeholder { /* Microsoft Edge */
  color: $error-text-red;
}
body {
  color: $dark-grey;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  background-color: $background-white;
  height: 100%;
}

.clearfix{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.row {
  @extend .clearfix;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1280px; */
  padding: 0 48px;
  display: block;
  width: auto;
}
.add-role{
  min-width: 123px;
}
.flex__row.reject-approve {
  margin-left: -21px;
}

a, a:visited {
  cursor: pointer;
  transition: opacity 0.24s ease 0s;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: $ocean-blue;
  border-bottom: 1px solid rgba(34, 118, 172, .2);
}

.csv__download {
  float: right;
}

a:hover {
  border-bottom: 1px solid rgba(34, 118, 172, 1);
  color: darken($ocean-blue, 10%);
}

a:active {
  outline: 0;
}

.link--no-underline {
  border-bottom: 0;
}

.link--secondary, .link--secondary:visited {
  color: $ocean-blue;
  font-size: .88em;
  font-weight: $base-font-regular;
  border-bottom: 1px solid $ocean-blue;
  /*padding-bottom: .3em;*/
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  &:hover {
    color: $light-green;
    border-bottom: 1px solid $light-green;
  }
}

.link--tertiary {
  color: $black;
  border-bottom: 1px solid $lightest-grey;
  &:hover {
    color: lighten($black, 25%);
  }
}

.disabled--cursor {
  cursor: default!important;
}

.link--learn-more {
  margin-top: 1em;
  float: right;
}

.description {
  color: $lighter-grey;
  width: 80%;
  margin-bottom: 3em;
  font-size: .86em;
  line-height: 1.6em;
}

.async__element--loading {
  position: relative;
  display: inline-block;
  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.tab--wrapper {
  margin-bottom: 2em;
  border-bottom: 1px solid $lightest-grey;
  .button--active {
    font-weight: $base-font-bold;
    border-bottom: 2px solid $ocean-blue;
    color: $ocean-blue;
    &:hover {
      color: $ocean-blue;
    }
  }
}

.icon::before, .icon::after {
  display: none;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.node.current-step rect {
  color: $light-green!important;
  outline-style: auto;
}

/**************************************************
  Header & Navigation (Includes Sidebar)
**************************************************/
.header {
  background-color: $ocean-blue;
  border-bottom: 1px solid rgba(255, 255, 255, .06);
  z-index: 2;
  h1 {
    float: left;
    margin-right: 2.5em;
    color:white;
    font-weight: 1000;
    text-align: center;
    img {
      // padding-top: 7px;  Adjusted for hiding DatePickerHeader
      padding-top: 16.2px;
      height: 60px;
    }
    div {
      margin-top: 35px;
      float: right;
      color: white;
    }
  }
  nav{
    // height: 4.688em; adjusted for hiding DatePickerHeader
    height: 5.688em;
  }
  nav ul {
    display: flex;
    height: 47px;
    margin-top: 1rem; // adjusted for hiding DatePickerHeader
  }
  nav li {
    padding: 1.5em 0 1.2em;
    display: inline-block;
    margin-right: 2.5em;
    font-weight: $base-font-light;
    border-bottom: 1px solid $ocean-blue;
    transition: all 0.3s ease 0s;
    a {
      color: $white;

    }
    &.active,
    &:hover {
      border-bottom: 1px solid $white;
      a {
        color: $white;
      }
    }
    &.rightalign {
      margin-right: 2.5em;
      margin-right: 0;
      padding-top: 0px;
      border-bottom:0px;
    }
  }
}
.footer-links li {
  a {
    color: $white;
    text-decoration: none;
  }
  &.active,
  &:hover {
    a {
      color: $white;
    }
  }
}
.nav__order-0 { order: 0 };
.nav__order-1 { order: 1 };
.nav__order-2 { order: 2 };
.nav__order-3 { order: 3 };
.nav__order-4 { order: 4 };
.nav__order-5 { order: 5 };
.nav__order-6 { order: 6 };
.nav__order-7 { order: 7 };
.nav__order-8 { order: 8 };

.svg{
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

/* general styling shared between versions */
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.right-ul{
  margin-top:0rem!important;
}
.logOut{
  margin-right: 0em!important;
}
.userName{
  color: $white;
}
.rightalign.nav__order-8{
  position: relative;
  margin-left: auto;
  height: 47px;
}
.log-icon{
  margin-left: 2rem;
  &:before {
    position: absolute;
    color: $white;
    font-family: 'FontAwesome';
    content: '\f2f5';
    font-weight: 900;
    right: 4em;
    top: 1.54em;
  }
}
.content__header {
  background-color: $ocean-blue;
  color: $white;
  padding-top: 2em;
  padding-bottom: 2em;
  box-shadow: $shadow__header;
  // min-height:110px; Removed so it does not look weird with other page headers with hidden DatePickerHeader
  h1 {
    margin-bottom: .3em;
  }
}

.content__header--lg {
  padding-top: 3em;
}

.heading-form-group--left {
  display: flex;
  flex-direction: row;

  li {
    &:not(:first-child) {
      margin-right: 2em;
    }

    h1 {
      margin-right: 5em;
    }

    a.button {
      display: flex;
    }
  }
}

//Sidebar//

.wrapper__sidebar{
  /*position: relative;*/
  flex-direction: row;
  display: flex;
  width: 100%;
}

.sidebar {
  /* flex: 2; */
  padding: 0;
  width: 20%; 
  /* max-width: 225px;*/
  min-width: 175px; 
  /* float: left; */
  min-height: 100vh;
  background-color: $sub-blue;
  color: #E7E4E4;
  /* position: absolute; */
  margin: 0;
  a {
    color: #E7E4E4;
    border-bottom: none;
    .active {
      color: $white;
      border-bottom: 1px solid #E7E4E4;
    }
    &:hover {
      color: $white;
    }
  }
  .sidebar__nav--back {
    padding-bottom: 1.8em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(69, 83, 101, .8);
    display: inline-block;
  }
  .sidebar__nav--selected {
    color: #E7E4E4;
    font-weight: $base-font-semibold;
    letter-spacing: .2px;
    border-bottom: 2px solid #E7E4E4;
  }
  li {
    margin-bottom: 0.75em;
  }
  li:first-child{
    line-height: 3em;
    font-size: 1.25em;
    font-weight: 400;
  }
  li:nth-child(n+2){
    line-height: 2em;
    font-weight: 400;
  }
}
.sidebar .sidebar__nav--back {
  margin-bottom:unset;
  padding-bottom: unset;
}
.sidebar:before {
  content: "";
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  /* subtract h2 padding (1.5rem) */
  /*left: -50em;*/
  background: $sub-blue;
  height: 100%;
  /*width: 50em;*/
}

.sidebar__row {
  display: flex;
  /* align-items: center;*/
  justify-content: left;
  background-color: $dark-blue;
  padding: 0 48px;
}

.sidebar__header {
  margin-top: 2em;
  margin-bottom: 1em;
}

.page__content__nosidebar {
  margin-top: 2em;
  flex-direction: column;
}

.page__content {
  width: 100%;
  @extend .clearfix;
}

.page__content--shortened {
  flex: 10;
  padding: 2em 4em 2em 4em;
  /*float: left;*/
  width: 80%;
}

.page__content--shortened--centered {
  width: 70%;
  margin: 0 auto;
  padding-top: 4em;
}

.page__section {
  @extend .clearfix;
  /*&:last-of-type {
  margin-bottom: 3em;
  }*/
}

.page_section__overview {
  margin-top: 25px;
}

.page__section__header-wrapper {
  margin-bottom: 1em;
}

.page_section.metrics--overview .heading__wrapper--border {
  margin-top: 0em;
}
.wrapper--border {
  border-bottom: 1px solid #e2dfdf;
}

.page__section.datetime{
  margin-bottom: 9em;
}
.questions-overview .page__section__controls {
  margin-bottom: 0 !important;
}
.page__section__controls{
  margin-bottom: 1.5em !important;
}

.page__section--small {
  margin-bottom: 2em;
}

.page__section--top{
  padding: 25px 0 25px 0;
  background-color: #1E6B9D;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}
.home_requests_table {
  margin-bottom:3em;
}

.top{
  display: flex;
  justify-content: center;
  align-content: center;
}

.top span{
  font-weight: 700;
}
.page__section.update--granules{
  margin-bottom: 2em;
}

.metadata__updated, .label__description {
  font-size: .79em;
  font-style: italic;
  color: darken($lighter-grey, 20%);
  dt, dd {
    display: inline;
    padding-right: .5em;
  }
  .metadata__updated__time {
    margin-left: .5em;
    padding-left: 1em;
    border-left: 1px solid lighten($lighter-grey, 20%);
  }
}

.flex__column {
  display: flex;
  flex-direction: column;
}
.flex__column--sm-border {
  border-left: 1px solid $lightest-grey;
}
.flex__column--reverse {
  display: flex;
  flex-direction: column-reverse;
}
.flex__row {
  display: flex;
  flex-direction: row;
}
.flex__row--border {
  padding-bottom: 2em;
  padding-top: 2em;
  border-bottom: 1px solid $lightest-grey;
  display: flex;
  flex-direction: row;
}
.flex__row--reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex__row--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex__item--spacing {
  padding: .25em .5em .25em .5em;
}
.flex__item--w-15 {
  flex-shrink: 0;
  width: 15em;
}
.flex__item--w-17 {
  flex-shrink: 0;
  width: 17em;
}
.flex__item--w-25 {
  flex-shrink: 0;
  width: 25em;
}
.flex__item--w-35 {
  flex-shrink: 0;
  width: 35em;
}
.flex__item--start {
  align-self: flex-start;
}
.flex__item--center {
  align-self: center;
}
.flex__item--end {
  align-self: flex-end;
}
.flex__item--grow-1 {
  flex-grow: 1;
}
.flex__item--grow-1-wrap {
  flex-grow: 1;
  overflow-wrap: anywhere;
}
.sm-border {
  padding: .25em .5em .25em .5em;
  border-bottom: 1px solid $lightest-grey;
}
.text__green {
  color: darken($light-green, 5%);
  height: 1em;
}
.no-resize {
  resize: none;
  margin-bottom: 1em;
}
textarea {
  margin-bottom: 1em;
}
/**************************************************
  Progress Bar
**************************************************/

.progress-bar {
  height: 5px;
  position: relative;
  background: $lightest-grey;
  top: .3em;
  width: 98.8%;
}

.page__section__granule--progress {
  position: relative;
  margin: 2em 0 6em;
  ol {
    position: absolute;
    top: 0;
    width: 98.8%;
  }

  li {
    display: inline-block;
    font-size: .86em;
    color: lighten($lighter-grey, 8%);
    text-align: center;
    width: 24%;
    position: relative;
    top: 1.2em;
    &:before {
      content: '';
      height: 14px;
      width: 1px;
      background-color: lighten($lighter-grey, 30%);
      background-size: 14px 1px;
      display: block;
      margin-bottom: 2px;
      position: absolute;
      right: 50%;
      top: -1.45em;
    }

    &:first-child {
      text-align: left;
      width: 14%;
      &:before {
        background-color: lighten($lighter-grey, 6%);
        left: 0;
        right: 0;
      }
    }
    &:last-child {
      text-align: right;
      width: 14%;
      &:before {
        background-color: lighten($lighter-grey, 6%);
        right: 0;
      }
    }
  }

  .progress-bar__active {
    font-weight: $base-font-semibold;
    color: $dark-grey;
  }
}

.progress-bar__progress {
  height: 5px;
  left: 0;
  position: absolute;
  transition: width 0.2s ease-in-out;
  background-color: $light-green;
  z-index: 5;
}
.progress-bar__progress--ingesting { width: 0; }
.progress-bar__progress--processing { width: 26%;  }
.progress-bar__progress--cmr { width: 50%; }
.progress-bar__progress--archiving { width: 74%; }
.progress-bar__progress--completed { width: 100%; }

.progress-bar__indicator {
  position: absolute;
  top: -8px;
  transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
}

.progress-bar__indicator--ingesting { left: 0; }
.progress-bar__indicator--processing { left: 25%;  }
.progress-bar__indicator--cmr { left: 49%; }
.progress-bar__indicator--archiving { left: 73%; }
.progress-bar__indicator--completed { right: 20px; }
.progress-bar__indicator--failed {
  right: 20px;
  .pulse__dot {
    border: 5px solid lighten($error-text-red, 10%);
    background-color: $error-text-red;
  }
  .pulse__ring {
    border: 11px solid $error-text-red;
  }
}

.meter > span {
  display: block;
  height: 100%;
  background-color: $light-green;
  position: relative;
  overflow: hidden;
}

.logs {
  font-family: $code-font-family;
  font-size: $code-font-size;
  line-height: $code-line-height;
  background-color: darken($background-white, 3%);
  padding: 1.5em 1.5em 1em;
  color: $dark-grey;
  height: 25em;
  overflow-y: scroll;
}

.granule-recipes {
  ol {
    list-style-type: decimal;
    margin: 0 0 1em 1em;
  }

  .recipe {
    margin-bottom: 1em;
  }
}

/**************************************************
  Table
**************************************************/
.list-view {
  dt {
    font-weight: $base-font-bold;
    margin-bottom: .2em;
  }
  dd, p {
    margin-bottom: 1em;
    color: $grey;
  }
}

.status--process {
  margin-top: 1.5em;
  font-weight: $base-font-semibold;
  dd, dt {
    display: inline-block;
    font-size: 1.9em;
  }
  dd {
    font-weight: $base-font-semibold;
  }
  dt {
    margin-right: 0.5em;
    color: $dark-grey;
  }
  .running,
  .enabled {
    &:before {
      background-color: $yellow;
    }
  }
  .completed {
    &:before {
      background-color: $light-green;
    }
  }
  .stopped {
    &:before {
      background-color: $orange;
    }
  }
  .failed,
  .disabled {
    &:before {
      background-color: $error-text-red;
    }
  }

  .execution-status {
    &-succeeded {
      color: $light-green;
    }

    &-running {
      color: $yellow;
    }

    &-failed {
      color: $error-text-red;
    }
  }

}

.app__target--container {
  background-color: darken($ocean-blue, 10%);
  border-bottom: 1px solid darken($ocean-blue, 13%);
  padding: 0.4em 0 .3em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: .86em;
}

.app__target {
  color: #FFF;
  margin: 0;
}

.page-link, .page-item {
  color: #696969!important;
}

.width--three-quarters {
  width: 85%;
}

.width--half {
  width: 40%;
}

.error__report, .report__table {
  .Collapsible {
    display: flex;
    flex-direction: column;

    .Collapsible__trigger {
      order: 1;
    }
  }
}

.report__table {
  .Collapsible__trigger {
    align-self: flex-start;
    cursor: pointer;
    margin: 1em 0;
  }
}

.Collapsible__trigger {
  align-self: flex-start;
  cursor: pointer;
  margin: 1em 0;
  color: $ocean-blue;
  border-bottom: 1px solid rgba(34, 118, 172, .2);
}

/**************************************************
  Footer
**************************************************/

.footer{
  border-top: 1px solid #E2DFDF;
  background-color: $ocean-blue;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.api__summary {
  text-align: center;
}

.api__version{
  font-weight: 400;
  color: $white;
  padding: 10px 0 2px 0;
}

.api__warning {
  /*color: $error-red;*/
  color: $white;
  font-weight: 500;
  position: relative;
  border-bottom: 1px solid #175075;
  padding: 0.4em 0 1em;
  margin: 0;
}

.api__warning .warning-icon{
    position: relative;

  &:before {
    position: absolute;
    /*color: $error-red;*/
    color: $white;
    font-family: 'FontAwesome';
    content: '\f071';
    font-weight: 900;
    left: -1.5em;
    top: 0em;
  }
}

.search-modal__background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.12);
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-modal {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 50vw;
  background-color: $white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}
.search-modal button:first-child {
  margin-left:1rem;
}
.search-modal__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  color: $white;
  background-color: $ocean-blue;
  &>h1 {
    color: $white;
  }
}
.search-modal__body {
  flex-grow: 1;
  padding: 2em;
}
.search-modal__list {
}
.search-modal__list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5em;
  font-weight: bold;
  background-color: $ocean-blue;
  &>div {
    width: 100%;
    text-align: left;
  }
}
.search-modal__list-header-text {
  color: $white;
}
.search-modal__item {
  display: flex;
  flex-direction: row;
  height: 2em;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid $lightest-grey;
  background-color: $white;
  &:hover {
    background-color: $lightest-grey;
  }
  &>div {
    width:100%;
    padding-left: 0.25em;
    text-align: left;
  }
  &--selected {
    @extend .search-modal__item;
    color: $white;
    background-color: $light-green;
    &:hover {
      background-color: darken($light-green, 5%);
    }
  }
  &--hidden {
    @extend .search-modal__item;
    visibility: hidden;
  }
}
.search-modal__controls {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1em;
  padding: 1em;
}
.react-flow {
  overflow:unset!important;
  width: 275px!important;
}
.hidden {
  display:none!important;
}
.react-flow__node{
  pointer-events: none!important;
}
.react-flow__attribution a {
  display:none!important;
}
.request-section .list-action-wrapper{
  display: inline-flex;
}
.user-section input,
.user-section div[class^=" css"][class$="control"] {
  margin-bottom:2em;
}
div.selectButton {
  padding: 0;
  z-index: 10;
}
div#producerSelect.selectButton {
  width: inherit;
}
div#roleSelect.selectButton,
div#groupSelect.selectButton {
  min-width: 188.5px;
}
div.selectButton div {
  border-radius: 0.5em;
  font-size: 12.04px;
  line-height: 1em;
}
div.selectButton {
  border-radius: 0.5em;
  width: fit-content;
}
div.selectButton div[class^=" css"][class$="control"] {
  border: 1px solid #eceaea;
  font-size: .9em;
  border-radius: 0.5em;
  box-shadow: 0 1px 3px #00000014;
}
div.selectButton div[class^="css"][class$="control"]:nth-child(3) {
  border:0;
}
div.selectButton div[class^="css"][class$="control"] input{
  border:0;
  box-shadow: none;
}
div.selectButton span[class^="css"][class$="indicatorContainer"] {
  border:0;
}
div.selectButton div:nth-child(4) {
  margin-top:0;
  border-radius:0;
}
div.selectButton div:nth-child(4) * {
  border-radius:0;
}
div.selectButton div:nth-child(5) {
  border-radius:0;
}
div.selectButton div input {
  border-radius:0;
}
div.selectButton div div span {
  width: 0;
}