.metadata__details {
  font-size: .86em;
  @extend .clearfix;
  dt {
    font-weight: $base-font-semibold;
    width: 22%;
    padding-right: 8px;
  }
  dd {
    width: 20%;
    color: $dark-grey;
    &:nth-of-type(odd) {
      margin-right: 10%;
    }
  }
  dt, dd {
    display: inline-block;
    vertical-align: middle;
    margin: .75em 0;
  }
}
.request-section .list-action-wrapper{
  display: inline-flex;
}
#workflowSelect {
  padding: 0;
}
#workflowSelect div {
  border-radius: 0.5em;
  font-size: 12.04px;
  line-height: 1em;
}
#workflowSelect {
  border-radius: 0.5em;
  width: 300px;
}
#workflowSelect div[class^=" css"][class$="control"] {
  border: 1px solid #eceaea;
  font-size: .9em;
  border-radius: 0.5em;
  box-shadow: 0 1px 3px #00000014;
}
#workflowSelect div[class^="css"][class$="control"]:nth-child(3) {
  border:0;
}
#workflowSelect div[class^="css"][class$="control"] input{
  border:0;
  box-shadow: none;
}
#workflowSelect span[class^="css"][class$="indicatorContainer"] {
  border:0;
}
#workflowSelect div:nth-child(4) {
  margin-top:0;
  border-radius:0;
}
#workflowSelect div:nth-child(4) * {
  border-radius:0;
}
#workflowSelect div:nth-child(5) {
  border-radius:0;
}
#workflowSelect div input {
  border-radius:0;
}
#workflowSelect div div span {
  width: 0;
}

.email__details {
  font-size: .86em;
  border-bottom: 1px solid $lightest-grey;
  padding-bottom: .3em;
  margin-bottom: 1em;
  margin-top: 2em;

  h2, h3, h4 {
    margin-bottom: .5em;
  }
  @extend .clearfix;
  dt {
    vertical-align: top;
    font-weight: $base-font-semibold;
    width: 22%;
    padding-right: 8px;
  }
  dd {
    vertical-align: middle;
    width: 100%;
    color: $dark-grey;
    &:nth-of-type(odd) {
      margin-right: 10%;
    }
  }
  dd {
    display: inline-block;
    margin: .75em 0;
  }
}

.logs__item {
  margin-bottom: .5em;
}

.logs__item--date {
  color: $light-grey;
}

.logs__item--level {
  color: $black;
}

.logs__item--debug,
.logs__item--trace {
  color: $grey;
}

.logs__item--info {
  color: $light-green;
}

.logs__item--warn {
  color: $orange;
}

.logs__item--error {
  color: $error-red;
}

.logs__item--fatal {
  color: $error-text-red;
}

.logs__item--meta {
  color: $sky-blue;
}
