/* EUI Colors */
$light-green: #158749;  
$ocean-blue: #2275AA;                                
$midnight-blue: #2c3e50;                              
$royal-purple: #673285;
$dolphin-grey: #667879;
$sky-blue: #7ab5da;

/* Earthdatapub Secondary Blues */
$sub-blue: #1E6B9D;
$dark-blue: #1A557B;

/* Theme */
$theme--blue: #2275AA;
$theme--light: #E2DFDF;
$theme--dark: #2c3e50;

/* Errors & Warnings */
$error-red: #DB1400;
$error-text-red: #DB1400;
$yellow: #EED919;
$orange: #A36A00;

/* Black, Grey & White */
$black: #36342D;
$dark-grey: #4A4A4A;
$grey: #8C8C8C;
$light-grey: #C4C4C4;
$lighter-grey: #8C8C8C;
$lightest-grey: #E2DFDF;
$background-white: #F8F8F8;
$white: #FFFFFF;